body {
  background: #143f5c;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);   Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #0083B0, #00B4DB); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-gradient-primary {
  background: linear-gradient(87deg,#fff 0,#eee 100%)!important;
}

.fill-default {
  fill:#143f5c;
}

svg {
  margin-top: 11.4%;
  position: absolute;
  left: 0;
  z-index: 0;
}

.pt-4p {
  padding-top: 8%;
  padding-bottom: 15%;
}
